/out/production/PP3/ObjLoader.class
/.idea/.name
/out/production/PP3/Face.class
/out/production/PP3/Main$1.class
/out/production/PP3/Main.class
/out/production/PP3/Matriz.class
/.idea/misc.xml
/.idea/modules.xml
/PP3.iml
/files/triangle.obj
/.idea/uiDesigner.xml
/.idea/vcs.xml
/out/production/PP3/Vertice.class
